
body { background-color: lavenderblush; }
h1 {
    font-size: var(--fs-xxxl);
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    letter-spacing: -3px;
    color:fuchsia;
    font-style: initial;
}